.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}


button:hover {
    background-color: #45a049;
}

/* Results section */
#results {
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
}

#results h2 {
    color: #4CAF50;
    text-align: center;
}

#resultsList {
    list-style-type: none;
    padding: 0;
}

#resultsList li {
    padding: 10px;
    margin-bottom: 10px;
    background: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 4px;
}



.form-container {
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
    position: left;
    border-right: 2px solid #ccc;
}

.results-container {
    width: 70%;
    /*padding: 20px;*/
    /*box-sizing: border-box;*/
    position: right;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}


button {
    /*padding: 10px 15px;*/
    background-color: #0e9928b3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #02891b50;
}

#results h2 {
    margin-top: 0;
}

#resultsList {
    list-style: none;
    padding: 0;
}

#resultsList li {
    background-color: #f4f4f4;
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
}

#detailModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#modalContent {
    background-color: white;
    padding: 20px;
    width: 80%;
    max-height: 80%;
    overflow-y: auto;
}

#closeModal {
    font-size: 20px;
    color: red;
    position: absolute;
    top: 10px;
    right: 10px;
}